<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Skill Tree</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../styles/app.css">
    <script src="/jquery/dist/jquery.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.js"></script>
    <script src="js/browse.js"></script>
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">SkillTree</a>
            </div>
            <form class="navbar-form navbar-left">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </form>
            <% if (content.user) { %>
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="/logout">Logout: <%=content.user.google.name%></a></li>
                </ul>
            <% } else { %>
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="/login">Login</a></li>
                </ul>
            <% } %>
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="/">Home</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
      
        <% if (content.data) { %>
            <div class="well well-sm">
                <strong>Display</strong>
                <div class="btn-group">
                    <a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list"> </span>List</a> <a href="#" id="grid" class="btn btn-default btn-sm"><span ="glyphicon glyphicon-th"></span>Grid</a>
                </div>
            </div>
            <div id="skills" class="row list-group">
                <% for(var i=0; i < content.data.length; i++) { %>
                    <div class="item  col-xs-4 col-lg-4"> <div class="tuhmbnail"><a href="/"><img class="group list-group-image" src=" <%= content.data[i].icon %> " alt="" /></a><div class="caption"><h4 class="group inner list-group-item-heading"><%= content.data[i].name %> </h4><p class="group inner list-group-item-text"> <%= content.data[i].description %> </p><div class="row"></div></div></div></div>
                <% } %>
            </div>
        <% } else { %>

        <% } %>
        
    </div>
</body>

</html>